@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin pl {
  padding-left: 15px;
}

@mixin pr {
  padding-right: 15px;
}
