@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");
@import "colors.scss";
@import "mixins.scss";
@import "svg_size.scss";

body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  color: $black;
}
div {
  padding: 0px;
  margin: 0px;
}
a {
  color: inherit;
  text-decoration: none;
}

.logo {
  height: 58px;
}

.HeaderWrap {
  min-height: 60px;
  border-bottom: 1px solid $border;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .HeaderLeft {
    @include flex(row, flex-start, center);
    @include pl;
  }
  .HeaderRight {
    @include flex(row, flex-end, center);
    @include pr;
  }
  .MainNav {
    font-size: 20px;
    ul {
      list-style: none;
      @include flex(row, flex-start, center);
      li {
        font-weight: 500;
      }
      li:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.ContentWrap {
  @include pl;
  @include pr;
  min-height: 600px;
}
.FooterWrap {
  @include flex(column, center, center);
  min-height: 80px;
  background-color: $grey;
  color: $white;
  padding-top: 10px;
  padding-bottom: 10px;
  .FooterMain {
    font-size: 18px;
  }
  .FooterSub {
    font-size: 12px;
  }
  .FooterIconWrap {
    padding-top: 10px;
    img:not(:last-child) {
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  .HeaderWrap {
    grid-template-columns: 1fr;
    .HeaderLeft {
    }
    .HeaderRight {
      display: none;
    }
  }
  .MainNav {
    display: none;
  }
}
